cxbird(width='50%', height='100%', game='game', display='inline-block')


table.currentplayers
	tr
		th Handle
		th Color
		th Highscore
		th Score
	tr(ng-repeat='player in players | unnamed')
		td {{player.handle}}
		td(style='background-color:{{player.color}}')
		td.number {{player.highscore}}
		td.number {{player.score}}