div.menupage
    header
        h1 CXBird
        p Welcome{{player.handle?' ' + player.handle:''}}!
    section(class='login' ng-hide='player.handle')
        p Please give your username or twitter handle to play.
        div
            input(ng-model='username')
            button(ng-click='setHandle()')
                img(src='../img/play.png' class='icon')
    section(class='loggedIn')
        p(ng-show='player.handle') Your highscore: {{player.highscore}}
    ul
        li(ng-show='player.handle')
            a(ng-href='#/player') Play!
        li
            a(ng-href='#/highscores') Highscores
        li
            a(ng-href='#/game') Current game
    div Online players: {{players.online.length}}
    div Playing: {{players.playing.length}}
    div Total players: {{players.all.length}}