fireworks(ng-if="winner")
h1(ng-if="!winner") Raffle time!
h1(ng-if="winner") Winner is
div
    a.btn.center(ng-click="raffeling=true;raffle()" ng-hide="raffeling") Start
div
    div.ticket(ng-repeat="ticket in tickets" class="spin" ng-class="{winner:ticket.handle==winner}") {{ticket.handle}}
//    div.winner(ng-show="winner") Winner is {{winner}}!